[submodule "src/thirdparty/imgui/imgui"]
	path = src/thirdparty/imgui/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "src/thirdparty/soil/soil"]
	path = src/thirdparty/soil/soil
	url = https://github.com/littlstar/soil
[submodule "src/thirdparty/glfw"]
	path = src/thirdparty/glfw
	url = https://github.com/glfw/glfw
[submodule "src/thirdparty/fmt"]
	path = src/thirdparty/fmt
	url = https://github.com/fmtlib/fmt
